.App {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
}

li button:hover {
  background-color: #c9302c;
}

li button.edit {
  background-color: #5bc0de;
}

li button.edit:hover {
  background-color: #46b8da;
}

div p {
  margin: 10px 0;
}

.total {
  font-weight: bold;
}
